@font-face {
	font-family: 'Conv_Lazer84';
	src: url('fonts/Lazer84.eot');
	src: local('☺'), url('fonts/Lazer84.woff') format('woff'), url('fonts/Lazer84.ttf') format('truetype'), url('fonts/Lazer84.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

