html {
	font-family: 'Comfortaa', serif;
}

.rin{
	font-family:'Conv_Lazer84',Sans-Serif;
	background-image: url(../assets/img/sun.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 300px;
	overflow: visible;
}

.canvas-wrapper{
	width: 600px;
	height: 600px;
	position: relative;
}

.canvas-input{
	background-color: #fffc;
	border-radius: 5px;
	padding: 2px;
	box-sizing: border-box;
	position: absolute;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 12px;
	box-sizing: border-box;
	background-size: 42px 42px;
	background-repeat: no-repeat;
	background-position: left 5px bottom 2px;
}

.canvas-input input{
	width:80px;
}

.canvas-input--top{
	width: 220px;
	top: 0;
	left: 30%;
	transform: translateX(-30%);
	padding-left: 40px;
	background-image: url(../assets/icons/canvastopinput.svg);

}

.canvas-input--right{
	width: 150px;
	right:0;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 40px;
	background-image: url(../assets/icons/canvasrightinput.svg);

}

.canvas-input--bottom{
	width: 150px;
	bottom: 0;
	left: 30%;
	transform: translateX(-30%);
	padding-left: 40px;
	background-image: url(../assets/icons/canvasbottominput.svg);

}

.canvas-wrapper canvas{
	display: none;

}

.displayCanvas{
	display: block!important;
}

/* .flip-switcher{
	font-size: 12px;
	padding: 2px 4px;
	box-sizing: border-box;
	border:1px solid #666;
	background-color: rgba(255, 255, 255, 0.493);
	cursor: pointer;
} */

.color-square{
	display: block;
	margin: 0 10px;
	width:10px;
	height:10px;
	border:1px solid #000;
}

.border{
	border:2px solid rgba(136, 185, 204, 0.459);
	border-radius: .4rem;
}


.uk-tab > .uk-active > a {
	color: rgb(250, 55, 165);
	border-color: rgba(136, 185, 204, 0.459);
}

.art-preview{
	width: 60px;
	height: 60px;
	border: 2px solid #6666;
	cursor: pointer;
	margin: 0 5px 5px 0;
	transition: box-shadow .1s ease-in-out;
	-webkit-box-shadow: 4px 4px 6px 1px rgba(199,199,199,1);
	-moz-box-shadow: 4px 4px 6px 1px rgba(199,199,199,1);
	box-shadow: 4px 4px 6px 1px rgba(199,199,199,1);
}

.art-preview:hover{
	transition: box-shadow .1s ease-in-out;
	-webkit-box-shadow: 4px 4px 6px 1px rgba(199,199,199,1);
	-moz-box-shadow: 4px 4px 6px 1px rgba(199,199,199,1);
	box-shadow: 3px 3px 3px -2px rgb(112, 111, 111);
}

.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}